<div class="bg-primary px-3 pb-5">

    <br/>
    <div class="container text-center">
        <div class="nes-btn is-warning ml-auto d-none d-lg-block" *ngIf="currentAccount === '' && isCorrectChain"  (click)="connectWallet()">
            Connect Wallet
        </div>
        <div *ngIf="currentAccount !== ''  && isCorrectChain " class="nes-container is-rounded">
            <p>{{currentAccount}}</p>
        </div>
        <div *ngIf="!isCorrectChain " class="nes-btn is-error ml-auto">
            Wrong Network
        </div>


        <h1 class="text-dark text-center">
            <img src="assets/logo.png" alt="" height="150px">
            <span class="d-none d-sm-inline-block">NFT</span>
        </h1>

        <div *ngIf="viewing === ''" class="container d-flex align-items-end">
            <img src="assets/BB.png" alt="" class="dialog-head">
            <div class="nes-balloon from-left nes-pointer mb-5">
                <p>
                    Mint your very own NCAT NFT at the 
                    <button class="nes-btn is-warning ml-auto d-none d-lg-block" style="width:100%;" (click)="viewPound()">
                        Pound
                    </button>
                </p>
            </div>


            <div class="nes-balloon from-right nes-pointer mb-5">
                <p>
                    View your owned NFTs in the
                    <button class="nes-btn is-primary ml-auto d-none d-lg-block" style="width:100%;" (click)="viewGallery()">
                        Gallery
                    </button>
                </p>
            </div>
            <img src="assets/AA.png" alt="" class="dialog-head">
        </div>

        <div *ngIf="viewing === 'pound'" class="container">
            <div class="container d-flex align-items-end flex-row-reverse">
                <img src="assets/AA.png" alt="" class="dialog-head">
                <div class="nes-balloon from-right nes-pointer mb-5">
                    <p>
                        To the
                        <button class="nes-btn is-primary ml-auto d-none d-lg-block" style="width:100%;" (click)="viewGallery()">
                            Gallery
                        </button>
                    </p>
                </div>
                <div></div>
            </div>
            <div class="nes-container with-title is-centered">
                <p class="title">Step 1. Approve</p>
                <p>Approve the Pound to spend your NCATs in order to mint!</p>
                <button *ngIf="poundNCATAllowance === bigZero && !approving" class="nes-btn is-warning ml-auto d-none d-lg-block" [ngClass]="currentAccount === '' || !isCorrectChain ? 'is-disabled' : ''" style="width:100%;" (click)="approvePound()" [disabled]="currentAccount === '' || !isCorrectChain">
                    Approve Pound
                </button>
                <button *ngIf="approving" class="nes-btn is-disabled ml-auto d-none d-lg-block" style="width:100%;" [disabled]="true">
                    Approving
                </button>
                <button *ngIf="poundNCATAllowance > bigZero" class="nes-btn is-disabled ml-auto d-none d-lg-block" style="width:100%;">
                    Approved
                </button>
            </div>
            <br/>
            <div class="nes-container with-title is-centered">
                <p class="title">Step 2. Mint by burning NCAT</p>
                <p>Specify the number of NFTs you'd like to mint in exchange for burning NCAT!</p>
                <form (ngSubmit)="f.form.valid" #f="ngForm">
                    <input required type="number" class="nes-input" [(ngModel)]="NFTtoMint" (ngModelChange)="onBurnInputChange()" placeholder="Qty" name="qty" style="width:100%" #qty="ngModel" [ngClass]="{'is-error':!qty.valid}">
                    <br/>
                    <br/>
                    <button *ngIf="poundNCATAllowance > bigZero && !burning" class="nes-btn is-warning ml-auto d-none d-lg-block" style="width:100%;" (click)="commitBurnSwap()" [ngClass]="f.form.valid && NCATtoBurn > 0? 'is-success' : 'is-disabled'" type="submit" [disabled]="!f.form.valid && (!NCATtoBurn || NCATtoBurn === 0) ">
                        Burn {{NCATtoBurn}} NCAT
                    </button>
                    <button *ngIf="burning" class="nes-btn is-disabled ml-auto d-none d-lg-block" style="width:100%;" [disabled]="true">
                        Burning
                    </button>
                    <button *ngIf="poundNCATAllowance === bigZero" class="nes-btn is-warning ml-auto d-none d-lg-block" [ngClass]="currentAccount === '' || !isCorrectChain ? 'is-disabled' : ''" style="width:100%;" (click)="approvePound()" [disabled]="currentAccount === '' || !isCorrectChain">
                        Approve Pound
                    </button>
                </form>
            </div>
            <br/>
            <div class="nes-container with-title is-centered">
                <p class="title">Step 3. Reveal your newly minted tokens</p>
                <p>Draws from the random NCAT NFTs from the pound and issues ownership to you!</p>
                <button *ngIf="!revealing" class="nes-btn is-warning ml-auto d-none d-lg-block" [ngClass]="currentAccount === '' || !isCorrectChain ? 'is-disabled' : ''" style="width:100%;" (click)="revealNCATs()" [disabled]="currentAccount === '' || !isCorrectChain">
                    Reveal
                </button>
                <button *ngIf="revealing" class="nes-btn is-disabled ml-auto d-none d-lg-block" style="width:100%;" [disabled]="true">
                    Revealing
                </button>
            </div>
            <br/>
        </div>

        <div *ngIf="viewing === 'gallery'" class="container d-flex align-items-end">
            <div class="container d-flex align-items-end">
                <img src="assets/BB.png" alt="" class="dialog-head">
                <div class="nes-balloon from-left nes-pointer mb-5">
                    <p>
                        To the
                        <button class="nes-btn is-warning ml-auto d-none d-lg-block" style="width:100%;" (click)="viewPound()">
                            Pound
                        </button>
                    </p>
                </div>
            </div>

            
            <ng-container *ngIf="nftMetadata.length > 0">
                <ng-container *ngFor="let item of nftMetadata">
                    <div class="nes-container with-title is-centered">
                        <p class="title">{{item.description}}: {{item.index}}</p>
                        
                        <img [src]="item.image" class="img-fluid">

                        <ng-container *ngFor="let attribute of item.attributes">
                            <a class="nes-badge">
                                <span class="is-dark">{{attribute.trait_type}}</span>
                            </a>
                            {{attribute.value}}
                        </ng-container>
                    </div>
                </ng-container>
            </ng-container>
        </div>

        

        <!-- <img src="assets/nft.gif" alt="" class="img-fluid"> -->
    </div>

</div>