<div class="pt-3 bg-dark">
    <div class="container py-3 text-white text-center">
        <h3>Ongoing Projects</h3>
        <p>
            What we live and breath, and what we stands for.
        </p>
    </div>

    <div class="bg-primary">
        <div class="row no-gutters">
            <ng-container *ngFor="let item of featureds; let i = index">
                <div class="col-12 col-md-6 p-0 featured-item" [style]="bgurl(item)">
                    <div class="d-flex align-items-end w-100 p-3 slidetext">
                        <div class="text-white flex-grow-1 pr-3">
                            <h5>{{item.title}}</h5>
                            <div>{{item.caption}}</div>
                        </div>
                        <span>
                            <a class="nes-btn is-warning" [href]="item.url" target="_blank">Visit</a>
                        </span>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
</div>