<div class="bg-light px-3 py-5">
    <div class="container">
        <h1 class="text-center my-3">
            NCAT Roadmap
            <br>
            <i class="nes-icon trophy is-large"></i>
        </h1>

        <div class="container d-flex align-items-end" *ngFor="let item of roadmaps; let i = index">
            <div class="nes-balloon nes-pointer mb-5" [class]="(0 === i % 2) ? 'from-right' : 'from-left'">
                <div class="text-muted">{{item.when | date : 'mediumDate'}}</div>
                <h4 class="text-primary">{{item.title}}</h4>
                <p [innerHtml]="item.content | markdown"></p>
                <p>
                    <strapi-media style="max-width:250px" [media]="item.media" *ngIf="item.media"></strapi-media>
                </p>
                <p *ngIf="item.link">
                    <a class="nes-btn is-primary" [href]="item.link" target="_blank">{{item.link_title}}</a>
                </p>
            </div>
            <img src="assets/BB.png" alt="" class="dialog-head">
        </div>

    </div>
</div>