<div class="bg-primary">

    <section id="heading" class="container mb-3 d-flex justify-content-center">
        <div *ngIf="!isCorrectChain" class="nes-container is-rounded bg-danger text-white mx-auto my-5">
            <b>Wrong Network</b>! Please select BSC from MetaMask.
        </div>

        <div class="nes-container is-rounded bg-info text-white text-center my-5" *ngIf="currentAccount === ''">
            <p>
                Connect your wallet to interact with NCAT DAO.
            </p>
            <button class="nes-btn mr-2" (click)="connectMetamask()" *ngIf="metamask.provider">
                <img class="nes-avatar" src="https://raw.githubusercontent.com/MetaMask/brand-resources/master/SVG/metamask-fox.svg" style="image-rendering: pixelated;">
                Metamask
            </button>
            <button class="nes-btn mr-2" (click)="connectWalletConnect()" *ngIf="walletconnect.provider">
                <img class="nes-avatar" src="https://raw.githubusercontent.com/WalletConnect/walletconnect-assets/master/svg/walletconnect-logo.svg" style="image-rendering: pixelated;">
                WalletConnect
            </button>
        </div>
    </section>

    <!-- connected -->
    <ng-container *ngIf="currentAccount !== ''">

        <ng-container *ngIf="showpropose; else showDAO">
            <app-propose [options]="options" (created)="onPropose($event)"></app-propose>
        </ng-container>

        <ng-template #showDAO>
            <div class="container">
                <div class="d-flex mb-3">
                    <h2 class="text-white flex-grow-1">NCAT DAO</h2>
                    <div class="small">
                        <button class="nes-btn is-warning mr-2">{{currentAccount | shortaddress}}</button>
                        <button class="nes-btn is-error" (click)="disconnectWallet()">X</button>
                    </div>
                </div>

                <p class="small mb-3">
                    Welcome to the clowder! The minimum required NCAT to hold to create a proposal is 10B. Anyone can create and vote on a created proposal (1 NCAT=1 VOTE). Proposals last for 7 days and will only be passed if 75% voted `For` with at least 200B weight. When creating proposals please be as thorough as possible in the description, as well as including any funding requirements, resources needed to execute.
                </p>
            </div>

            <div class="container d-flex flex-column flex-lg-row">
                <!-- left menu -->
                <div class="mr-lg-2 mb-2">
                    <div class="text-nowrap nes-container is-rounded bg-white p-3">
                        <b>Filter</b>
                        <div *ngFor="let item of allviews" class="mt-3" (click)="toggleViews(item)">
                            <input type="checkbox" class="nes-checkbox" [checked]="viewing.includes(item)">
                            <span>{{item}}</span>
                        </div>

                        <p class="text-right mt-3">
                            <button class="nes-btn mr-2" [class]="{'is-primary':showhelp}" (click)="showhelp=!showhelp">?</button>
                            <button class="nes-btn is-primary" (click)="showpropose=true">+ Propose</button>
                        </p>
                    </div>
                </div>

                <!-- content -->
                <div class="flex-grow-1">
                    <!-- proposals -->
                    <app-proposal-item *ngFor="let item of proposals" [address]="currentAccount" [data]="item" (vote)="onVote(item,$event)" (fund)="onFund(item)" (state)="onState(item,$event)" [sendingFund]="isSendingFund" [isadmin]="isadmin"></app-proposal-item>

                    <div *ngIf="!loading && proposals.length == 0" class="text-center py-5">
                        <p><img src="assets/balloon.gif" height="150"></p>
                        <p>No proposal at the moment</p>
                    </div>

                    <div #Loadmore inViewport (inViewportAction)="onIntersection()">
                        <div *ngIf="loading" class="text-center py-5">
                            <p><img src="assets/balloon.gif" alt="" height="150"></p>
                            <p>Loading more proposal...</p>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
    </ng-container>
</div>

<!-- modal -->
<div *ngIf="showhelp" style="position:fixed;left:0;top:0;width:100%;height:100%;background-color:rgba(0,0,0,0.5);z-index:1050" class="d-flex flex-column">
    <div class="nes-container is-rounded bg-white p-3" style="margin:2em;overflow-y:auto;">
        <p class="text-right">
            <button class="nes-btn is-error" (click)="showhelp=false">X</button>
        </p>
        <h5>How to participate in DAO</h5>
        <ol>
            <li>To create new proposal, you need to own at least 10B NCATs</li>
            <li>View and vote for any proposals (1 NCAT=1 VOTE)</li>
            <li>Taking part in DAO does NOT consume your NCAT</li>
        </ol>
        <h5 class="mt-5">DAO Proposal Lifespan</h5>
        <img src="assets/dao-lifespan.svg" class="w-100 d-none d-md-block">
        <img src="assets/dao-lifespan-mobile.svg" class="w-100 d-md-none">
    </div>
</div>