<div class="nes-container is-rounded bg-white mb-3">
    <div class="d-flex flex-column flex-md-row">
        <div class="flex-grow-1">
            <div class="d-flex">
                <h3 class="sans-serif flex-grow-1">
                    {{p.title}}
                </h3>
                <div class="text-nowrap">
                    <!-- <span class="sans-serif">Status:</span> -->
                    <span class="badge badge-pill" [class]="p.state?.toLowerCase()">{{p.state | uppercase}}</span>
                </div>
            </div>
            <!--
            <span *ngIf="p.require_fund">💰</span>
            <span *ngIf="p.has_expire">📅</span>
             -->
            <div *ngIf="p.require_fund">
                💰 Fund Needed: <span class="for">BNB {{p.target_fund|number}}</span>
            </div>
            <div *ngIf="p.has_expire">
                📅 Expires on: <span class="for">{{p.expire_date|date}}</span>
            </div>

            <div class="sans-serif">{{p.content}}</div>
        </div>
        <div style="border-left:1px solid #eee" class="mx-3 d-none d-md-block"></div>
        <div style="border-top:1px solid #eee" class="my-3 d-md-none "></div>

        <div class="text-center text-nowrap small" style="min-width:250px">

            <section class="funding" *ngIf="p.require_fund && p.state!==States.RESEARCH && p.state!==States.VOTING">
                <ng-container *ngIf="p.state==States.FUNDING">
                    <h6>Funding</h6>
                    <ng-container *ngIf="p.has_expire">
                        <app-countdown [config]="config2" (event)="countdownEvent($event)"></app-countdown>
                    </ng-container>
                </ng-container>

                <app-circular-progress [size]="120" [progress]="fund_progress">
                    <i class="nes-icon is-medium coin pb-4"></i>
                </app-circular-progress>


                <ng-container *ngIf="p.state!==States.FUNDING">
                    <h6>{{funded ? 'Funded':'Failed'}}</h6>
                </ng-container>

                <div class="d-flex justify-content-between">
                    <span>Wallet:</span>
                    <a href="//bscscan.com/address/{{p.fund_wallet_address}}" target="_blank">{{p.fund_wallet_address | shortaddress}}</a>
                </div>

                <div class="d-flex justify-content-between">
                    <span>Target:</span>
                    <span>BNB {{p.target_fund|number}}</span>
                </div>

                <div class=" d-flex justify-content-between">
                    <span>Funded:</span>
                    <span class="for">BNB {{p.raised_fund || 0|number}}</span>
                </div>

                <div class="my-3" *ngIf="p.state==States.FUNDING && p.raised_fund! < p.target_fund!">
                    <button *ngIf="!sendingFund" (click)="onFund()" class="nes-btn is-success">Fund This</button>
                    <button *ngIf="sendingFund" class="nes-btn is-disabled">Sending Fund...</button>
                </div>

                <div class="mt-3" (click)="showfunders=!showfunders">
                    {{p.funders?.length || 0}} funders(s) <div class="toggle" [class]="showfunders?'x':'c'"></div>
                </div>

                <div class="voters sans-serif" [class]="showfunders?'x':'c'">
                    <div *ngFor="let v of p.funders">{{v | shortaddress}}</div>
                </div>

                <hr>


            </section>


            <section class="vote">
                <ng-container *ngIf="p.state==States.VOTING">
                    <h6>Voting</h6>
                    <app-countdown [config]="config" (event)="countdownEvent($event)"></app-countdown>
                </ng-container>


                <app-circular-progress [size]="120" [progress]="progress">
                    <div [class]="passed ? 'success':'failed'">
                        <i class="nes-icon is-medium like pb-4"></i>
                    </div>
                </app-circular-progress>

                <ng-container *ngIf="p.state!==States.VOTING">
                    <h6>{{passed ? 'Passed':'Rejected'}}</h6>
                </ng-container>

                <div class="row">
                    <div class="col-6">
                        <div class="dot bg-for"></div>
                        <span class="for">{{progress}}% For</span>
                        <div>{{(vfor.toNumber()/10e11).toFixed(3)}}T</div>
                    </div>
                    <div class="col-6">
                        <span class="against">{{100 - progress}}% Against</span>
                        <div class="dot bg-against"></div>
                        <div>{{(vagainst.toNumber()/10e11).toFixed(3)}}T</div>
                    </div>
                </div>

                <div class="my-3" *ngIf="p.state==States.VOTING">
                    <div *ngIf="voted">
                        <div class="text-muted">You Voted</div>
                    </div>

                    <div *ngIf="!voted" class="row">
                        <div class="col-6">
                            <button (click)="onVote(true)" class="nes-btn is-small w-100 bg-for text-white">For</button>
                        </div>
                        <div class="col-6">
                            <button (click)="onVote(false)" class="nes-btn is-small w-100 bg-against text-white">Against</button>
                        </div>
                    </div>
                </div>

                <div class="mt-3" (click)="showvoters=!showvoters">
                    {{p.voters?.length || 0}} voter(s) <div class="toggle" [class]="showvoters?'x':'c'"></div>
                </div>

                <div class="voters sans-serif" [class]="showvoters?'x':'c'">
                    <div *ngFor="let v of p.voters">{{v | shortaddress}}</div>
                </div>

            </section>


        </div>
    </div>
</div>