.badge {

    &.voting {
        background-color: yellow;
    }

    &.research {
        background-color: orange;
        color: white;
    }

    &.funding {
        background-color: orange;
        color: white;
    }

    &.implementation {
        background-color: green;
        color: white;
    }

    &.completed {
        background-color: green;
        color: white;
    }

    &.rejected {
        background-color: red;
        color: white;
    }
}

.dot {
    display: inline-block;
    width: 1em;
    height: 1em;
    border-radius: 1em;
    margin: 0 0.25em;
    // background-color: grey;
}

.progress::-moz-progress-bar {
    background: var(--for);
}

.progress::-webkit-progress-value {
    background: var(--for);
    // background: linear-gradient(90deg, var(--primary) 0%, var(--for) 100%);
}

.progress::-webkit-progress-bar {
    background: var(--against);
}

.progress {
    // color: var(--for);
    height: 20px;
}



.toggle {
    display: inline-block;
    // margin-left: 0.455em;
    vertical-align: 0.25em;
    content: "";
    border-top: 0.5em solid;
    border-right: 0.5em solid transparent;
    border-bottom: 0;
    border-left: 0.5em solid transparent;
    // transform-origin: top left;
    transition: transform 0.2s ease-out;

    &.x {
        transform: rotate(180deg);
    }

    // &.c {
    //     transform: rotate(0deg);
    // }
}

.voters {
    overflow: hidden;
    height: 0;
    transition: height 0.2s ease-out;

    &.x {
        height: 150px;
        overflow-y: auto;
    }
}