@charset "utf-8";
@import url("https://fonts.googleapis.com/css?family=Press+Start+2P");
@import "~nes.css/css/nes.css";

$primary: #e07891;
$font-family-base: "Press Start 2P";
$font-size-base: 0.75rem;
$secondary: #e7e7e7;

$grid-breakpoints: (xs: 0,
  sm: 440px,
  md: 768px,
  lg: 992px,
  xl: 1200px);

@import "~bootstrap/scss/bootstrap.scss";

:root {
  --for: #e07891;
  --against: rgb(30, 97, 164);
}

body {
  background-color: var(--secondary);
  padding-top: 67.5px;

  @media only screen and (max-width: 439px) {
    padding-top: 62px;
  }

}

@media only screen and (max-width: 575px) {
  h1 {
    font-size: 1.5em;
  }

  h2 {
    font-size: 1.25em;
  }

  h3,
  h4,
  h5 {
    font-size: 1em;
  }
}

.dialog-head {
  height: 15vw;
  max-height: 120px;
}

.nes-container,
.nes-balloon {
  strong {
    font-weight: normal;
    color: var(--primary);
  }
}


.page-content {
  img {
    max-width: 100%;
  }
}


.card-columns {
  @include media-breakpoint-only(sm) {
    column-count: 2;
  }

  @include media-breakpoint-only(md) {
    column-count: 3;
  }

  @include media-breakpoint-only(xl) {
    column-count: 4;
  }

}

.sans-serif {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  // font-size: 120%;
  // line-height: 1.25em;
}


.failed {
  transform: rotate(180deg);
}


.for {

  color: var(--for);
}

.against {
  color: var(--against);
}

.bg-against {
  background-color: var(--against);

  &.nes-btn::after {
    box-shadow: inset -4px -4px rgba(0, 0, 0, 0.25);
  }

  &.nes-btn:hover::after {
    box-shadow: inset -6px -6px rgba(0, 0, 0, 0.25);
  }

  &.nes-btn:active::after {
    box-shadow: inset 4px 4px rgba(0, 0, 0, 0.25);
  }
}

.bg-for {
  background-color: var(--for);

  &.nes-btn::after {
    box-shadow: inset -4px -4px rgba(0, 0, 0, 0.25);
  }

  &.nes-btn:hover::after {
    box-shadow: inset -6px -6px rgba(0, 0, 0, 0.25);
  }

  &.nes-btn:active::after {
    box-shadow: inset 4px 4px rgba(0, 0, 0, 0.25);
  }
}