<div class="bg-white py-5">
    <div class="container text-center">
        <h1>Order Completed</h1>
        <p>
            You will receive email for order status update.<br><br>
            If you have any question, contact us on <a href="https://t.me/ncattoken" target="_blank">official Telegram</a> channel.<br>
        </p>
        <img src="assets/balloon.gif" alt="" height="150">
        <p class="text-primary">
            Thank you for supporting the Clowder!
        </p>
    </div>

</div>